$font-grey: #777;
$font-dark: #000;

$background-grey-light: #f4f4f4;

// Social Colors
$twitter: #00acee;
$linkedin: #0e76a8;
$github: #171515;
$mail: #ea4335;
$youtube: #c4382b;
$facebook: #3b5998;
$instagram: #c13584;